.amazon-you-tube {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.amazon-image {
  width: 83px;
  height: 33px;
  object-fit: cover;
}
@media(max-width: 479px) {
  .amazon-you-tube {
    width: 120px;
    height: 60px;
    align-items: center;
  }
}
