<div>
  <link href="./testimonal1.css" rel="stylesheet" />
  <div class="testimonal1-testimonal testimonal">
    <span class="testimonal1-text">
      <span>
        I found these APIs to be incredibly useful in successfully developing my
        Flutter application for last year's projects.
      </span>
    </span>
    <div class="testimonal1-author">
      <div class="testimonal1-avatar">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGdpcmx8ZW58MHx8fHwxNjY0ODA5MjE1&ixlib=rb-1.2.1&w=200"
          class="testimonal1-image"
        />
      </div>
      <div class="testimonal1-user">
        <span class="testimonal1-name"><span>Andy Smith</span></span>
        <span class="testimonal1-divider">—</span>
        <span class="testimonal1-from"><span>Vista Social</span></span>
      </div>
    </div>
  </div>
</div>
